@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

.app {
  .link-1 {
    color: black;
    text-decoration: none;
    font-family: "Cinzel", serif;
  }

  .link__text {
    color: white;
    text-decoration: none;
    font-family: "Cinzel", serif;
  }
}
